html, body {
  height: 100vh;
}

.pyp-5 {
  padding-top: 5% !important;
  padding-bottom: 5% !important;
}

.pyp-10 {
  padding-top: 10% !important;
  padding-bottom: 10% !important;
}

/* .tab-content {
  overflow-x: hidden;
  overflow-y: visible;
} */
